@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundHover: rgba(0, 0, 0, 2.5%);
  --backgroundInverseHover: rgba(255, 255, 255, 5%);
  --backgroundTransparentCard: rgba(250, 250, 250, 7.2%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundHover: rgba(255, 255, 255, 5%);
    --backgroundInverseHover: rgba(0, 0, 0, 2.5%);
    --backgroundTransparentCard: rgba(39, 39, 42, 7.2%);
  }
}

@layer components {

  .contentPrimary {
    @apply text-zinc-950 dark:text-white;
  }

  .contentSecondary {
    @apply text-zinc-500 dark:text-zinc-400;
  }

  .contentTertiary {
    @apply text-zinc-950 dark:text-white;
  }

  .backgroundPrimary {
    @apply bg-white dark:bg-zinc-900;
  }

  .backgroundSecondary {
    @apply bg-zinc-50 dark:bg-zinc-800;
  }

  .backgroundTertiary {
    @apply bg-zinc-100 dark:bg-zinc-700;
  }

  .backgroundTransparentCard {
    background-color: var(--backgroundTransparentCard);
  }

  .borderPrimary {
    @apply border-zinc-200 dark:border-zinc-700;
  }

  .borderSecondary {
    @apply border-zinc-100 dark:border-zinc-800;
  }

  .borderTertiary {
    @apply border-zinc-50 dark:border-zinc-950;
  }

  .backgroundHoverOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .backgroundHoverOverlay:hover::after {
    background-color: var(--backgroundHover);
  }

  .backgroundInverseHoverOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .backgroundInverseHoverOverlay:hover::after {
    background-color: var(--backgroundInverseHover);
  }

  .primaryButton {
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 2px 0px rgba(88, 101, 242, 0.05);
    @apply relative flex gap-2 px-3 pr-4 h-10 items-center rounded-lg bg-[#5865F2] text-sm font-semibold text-white backgroundInverseHoverOverlay;
  }

  .plainButton {
    @apply relative flex h-8 w-8 items-center justify-center rounded-lg overflow-hidden bg-transparent hover:backgroundPrimary text-sm font-semibold contentPrimary shadow-sm backgroundHoverOverlay;
  }

  .input {
    @apply flex items-center justify-between gap-2 px-3 h-9 border borderPrimary rounded-lg text-sm;
  }

}

body {
  @apply backgroundPrimary contentPrimary;
  font-family: Arial, Helvetica, sans-serif;
}